
//width-height
$loginFormWidth : 494px
$baseSiteWidth: 1282px

//colors
$colorWhite : #FFF
$submitButton: #5fbf25
$colorMainBlue: #346aa1
$colorForBorder: 1px solid rgb(217,217, 217)

//fonts
$AvenirBold : "AvenirNextLTPro-Bold"
$AvenirRegular: "AvenirNextLTPro-Regular"
$AvenirMedium: "AvenirMedium"
$AvenirDemi: "AvenirNextLTPro-Demi"

//input width
$inputHeight: 49px
$inputWidth: 345px
$inputDropdownWidth: 260px
$inputCopyWidth: 602px
$saveWidth: 151px